body {
    
}

header {
    color: white;
    margin-left: 10vh;
    margin-top: 10vh;
}



h1 {
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.4em;
}

.bodyText {
    color: white;
    margin-left: 10vh;
    margin-top: 10vh;
    max-width: 100vh;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
  }

.tagLine {
    width: 50vh;
    margin-top: -150px;
}

/* .fillerEl {
    margin-top: 50px;
} */

.selfEl {
    margin-left: 500px;
    position: relative;
    height: 20vh;
    width: 15vh;
    border-radius: 10px;
    box-shadow: 8px 8px 2px 1px rgba(234, 234, 238, 0.2);
}

.navbar {
    font-size: large;
    margin-top: auto;
}

.worksEl {
    display:block;
}

.contactEl {
    display: block;
}

.linkEl {
    height: 50px;
    width: 50px;
    margin-right: 10px
}

.gitEl {
    height: 50px;
    width: 50px;
    margin-right: 10px
}

.emailEl {
    height: 50px;
    width: 50px;
    margin-right: 10px
}

.passEl {
    height: 20vh;
    width: 30vh;
    margin-right: 12px; 
    border-radius: 10px;
    box-shadow: 8px 8px 2px 1px rgba(234, 234, 238, 0.2);
}

.teamEl {
    height: 20vh;
    width: 30vh;
    margin-right: 12px;
    border-radius: 10px;
    box-shadow: 8px 8px 2px 1px rgba(234, 234, 238, 0.2);
}

.gameEl {
    height: 20vh;
    width: 30vh;
    margin-right: 12px;
    border-radius: 10px;
    box-shadow: 8px 8px 2px 1px rgba(234, 234, 238, 0.2);
}